modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
run = ["node", "artifacts/api-server/dist/index.cjs"]
build = ["pnpm", "run", "build"]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
DATABASE_URL = "postgresql://neondb_owner:npg_k68WpaDMntsU@ep-shy-meadow-adak18lj-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET = "a37b4d0f2904ec123106961a99163c67a5c12899daae5a428e633696aeee15b721d1a26234657cb8d71cd974547bcc1e895ff3a0db6822870a2866f12c5f17e7"
